* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

body {
  font-size: 22px;
}

.header {
  background-color: blue;
  padding: 1rem;
}

.header a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5rem auto;
  max-width: 90%;
  width: 57ch;
}

.project-preview {
  margin-bottom: 2rem;
  width: 100%;
}

@media (min-width: 600px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 0.5rem);
  }
}

.project-preview h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #222;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
}

.project {
  width: 100%;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}
